In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

%run -i "../src/utils.py"

In [7]:
prefix = 'BESTClassicCNN_hyper'
names = [
    'adam_0.0001',
    'adam_0.001',
    'adam_0.01',
    'sgd_0.0001',
    'sgd_0.001',
    'sgd_0.01',
]

names = [prefix + '_' + name for name in names]
names

['BESTClassicCNN_hyper_adam_0.0001',
 'BESTClassicCNN_hyper_adam_0.001',
 'BESTClassicCNN_hyper_adam_0.01',
 'BESTClassicCNN_hyper_sgd_0.0001',
 'BESTClassicCNN_hyper_sgd_0.001',
 'BESTClassicCNN_hyper_sgd_0.01']

In [8]:
df = pd.DataFrame()
best_name = ''
for name in names:
    df_ = pd.DataFrame()
    model_info = get_model_info(name)
    average_acc = np.mean(model_info['acc'])
    std_acc = np.std(model_info['acc'])
    min_acc = np.min(model_info['acc'])
    max_acc = np.max(model_info['acc'])
    df_['hyperparams'] = [name]
    df_['average_acc'] = [average_acc]
    df_['std_acc'] = [std_acc]
    df_['min_acc'] = [min_acc]
    df_['max_acc'] = [max_acc]
    df = pd.concat([df, df_])
    if average_acc >= df['average_acc'].max():
        best_name = name
        
df.reset_index(drop=True, inplace=True)
df.sort_values(by='average_acc', ascending=False, inplace=True)
df['hyperparams'] = df['hyperparams'].str[19:]
df.round(3)

     hyperparams  average_acc  std_acc  min_acc  max_acc
0  r_adam_0.0001        0.601    0.004    0.596    0.605
1   r_adam_0.001        0.599    0.006    0.588    0.607
5     r_sgd_0.01        0.596    0.011    0.574    0.605
4    r_sgd_0.001        0.594    0.012    0.570    0.601
2    r_adam_0.01        0.591    0.007    0.583    0.601
3   r_sgd_0.0001        0.584    0.019    0.552    0.607